/* GENERAL RULES FOR THE WHOLE PAGE */

:root {
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --snow: #8B8989;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --light-grey: #4A4A4A;
  --smoke-white: #F5F5F5;
  --darker-gray: #515151;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --seashell-grey: #8B8386;
  --socialGrey: #575c61;
  --batmanGrey: #fafafa;
  --some-other-grey: #f6f6f6;
  --footer-gray: #303337;
  --envelope-gray:#74797f;
  --bg-envelope: #2b2e32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script';
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* -------------------------------HEADER------------------------------------- */

header {
  width: 100%;
  height: 200px;
  border-top: 2px solid var(--scottish-blue);
}

/* --------- UPPER HEADER ----------- */
header div {
  height: 80px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: var(--socialGrey);
}

.upperHeaderLeft i {
  padding-right: 20px;
  font-size: 20px;
}

.upperHeaderRight div a {
  display: flex;
}

.upperHeaderLeft div {
  width: 50%;
  display: flex;
}

.upperHeaderRight div:nth-child(1) {
  justify-content: center;
  border-right: 0.5pt solid rgba(220, 220, 220, 0.7);
}

.upperHeaderRight div:nth-child(2) {
  justify-content: center;
  border-right: 0.5pt solid rgba(220, 220, 220, 0.7);
}


.upperHeaderRight div:nth-child(3) {
  justify-content: center;
  background-color: var(--batmanGrey)
}

.upperHeaderRight div:nth-child(2) .fa-chevron-down,
.upperHeaderRight div:nth-child(3) .fa-chevron-down {
  margin: 5px 0px 0px 10px;
}

/* -------------------------------MIDDLE--------------------------------------*/

/* HORIZONTAL RULE THAT SEPARATES THE TWO SECTIONS IN HEADER */
header hr {
  height: 0.5pt;
  border-width: 0;
  background-color: rgba(220, 220, 220, 0.7);
}

/* ---------------------------------------------------------------------------*/

/* --------- LOWER HEADER ----------- */
nav {
  height: 120px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

nav div:first-of-type {
  width: 30%;
  height: 100%;
}

nav div:first-of-type img {
  width: 250px;
}

nav div:last-of-type {
  width: 70%;
  height: 100%;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

nav div:last-of-type ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* HERE I CREATE A TRANSPARENT BORDER */
nav div:last-of-type > ul > li {
  border-top-width: 3px;
  border-top-style: solid;
  border-color: transparent;
}

/* ON HOVER THE TRANSPARENT TOP TAKES THIS COLOUR */
nav div:last-of-type > ul > li:hover {
  color: var(--eleganBlue);
  border-color: var(--eleganBlue);
}

/* THIS BRINGS UP THE BORDER */
nav div:last-of-type > ul > li > a {
  line-height: 118px;
}

nav div:last-of-type li .fa-chevron-down {
  margin-left: 10px;
}

/* THIS IS JUST THE FORST LI THAT REMAINS BLUE ALL THE TIME */
nav div:last-of-type > ul > li:first-of-type {
  height: 100%;
  border-top-width: 3px;
  border-top-style: solid;
  border-color: var(--eleganBlue);
  color: var(--eleganBlue);
}

/* THIS IS THE "SHOP NOW "BUTTON" */
nav div:last-of-type li:nth-child(7) a {
  padding: 20px 60px;
  background-color: var(--scottish-blue);
  color: white;
  font-weight: bold;
  border-radius: 30px;
}

/* SHOP NOW "BUTTON" and Search have NO border top */
nav div:last-of-type ul li:last-of-type:hover,
nav div:last-of-type li:nth-child(7):hover {
  border-color: transparent;
}

/* OH HOVER THE "BUTTON" change color on hover*/
nav div:last-of-type li:nth-child(7) a:hover {
  background-color: var(--lighter-blue);
}

/* ----------------------------- JUMBOTRON ---------------------------------- */

.jumbotron {
  width: 100%;
  height: 650px;
  background-image: url(../img/other-img/home1_slide_three_bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron div:first-of-type {
  font-size: 60px;
  color: white;
  align-self: center;
}

.jumbotron div:nth-child(2) {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  align-self: center;
}

.jumbotron div:nth-child(3) {
  margin-top: 60px;
  align-self: center;
  color: white;
  font-weight: bolder;
}

.jumbotron div:nth-child(3) a {
  padding: 20px 50px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.jumbotron div:nth-child(3) a:first-of-type {
  margin-right: 20px;
}

/* ---------------------------------- MAIN ---------------------------------- */

/* SLIDER ARE USED  */
/* There are THREE of these: one after the jumbotron, one in the small-slider section and one in the biggest slider image section */
main section:first-of-type,
.small-slider article,
.biggest-slider-image article {
  padding-top: 30px;
  height: 100px;
  display: flex;
  justify-content: center;
}

/* height brings up the line on the text. Border-bottom creates the line */
main section:first-of-type div,
.small-slider article div,
.biggest-slider-image article div {
  align-self: center;
  position: relative;
  width: 70%;
  height: 0.7rem;
  border-bottom: 2px solid rgba(220, 220, 220, 0.7);
}

/* Padding creates the space around the H3 (along with the background-color white) */
main section:first-of-type h3,
.small-slider article div h3,
.biggest-slider-image article h3 {
  font-size: 46px;
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 30px;
}

main section:nth-child(2),
.small-slider div:nth-child(2),
.biggest-slider-image div:nth-child(2) {
  padding-bottom: 70px;
}

main section:nth-child(2) div:first-of-type,
.small-slider div:nth-child(2),
.biggest-slider-image div:nth-child(2) {
  text-align: center;
  font-size: 18px;
  color: var(--socialGrey);
  font-family: 'Roboto', sans-serif;
}

/* This is the the div at line 158 of HTML  */
main section:nth-child(2) div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.gender {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 50px 0px;
  border: 1px solid rgba(220, 220, 220, 0.7);
}

.gender div {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.gender div a {
  align-self: center;
}

.gender div:first-of-type,
.gender div:nth-child(2) {
  border-right: 1px solid rgba(220, 220, 220, 0.7);
}

.gender div:last-of-type,
.gender div:nth-child(2) {
  background-color: var(--some-other-grey);
}

.gender div:hover {
  background-color: #FFF;
}

/* ------------------------ SLIDING IMAGES SECTION -------------------------- */

/* There are more similar sections scrolling down the page */
#sliding-images-section,
.smaller-sliding-images-section {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  display: flex;
}

#sliding-images-section ul {
  width: 100%;
  height: 100%;
  display: flex;
}

#sliding-images-section ul li div,
.smaller-sliding-images-section ul li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* PICTURES */
#sliding-images-section ul li img {
  width: 300px;
  height: 400px;
}

/* BIGGER TEXT */
#sliding-images-section ul li h3 {
  margin-top: 20px;
  font-size: 18px;
}

/* GENDER TEXT */
#sliding-images-section ul li div:nth-child(3) p {
  margin: 10px 0px;
  color: var(--socialGrey);
}

/* PRICE TEXT */
#sliding-images-section ul li div:nth-child(4) {
  display: inline;
  color: var(--scottish-blue);
}

/* THIS IS THE SPAN WITH LINE OVER IT */
#sliding-images-section #special-span,
.smaller-sliding-images-section #special-span {
  text-decoration: line-through;
  font-size: smaller;
  padding-right: 10px;
}

/* -------------- ANIMATION --------------------- */

.card {
  overflow: hidden;
  position: relative;
}

.card .overlay-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(royalblue, pink);
  opacity: 0.9;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition-duration: 0.4s;
  top: 100%;
  left: 0;
}

.card:hover .overlay-content {
  transform: translateY(-100%);
}

/* ----------------------------- BIG IMAGE SECTION -------------------------- */

.big-pictures {
  margin-bottom: 80px;
  width: 100%;
  height: 600px;
}

.big-pictures div:first-of-type {
  display: flex;
  height: 100%;
}

.big-pictures div:first-of-type div {
  height: 100%;
  width: calc(100% / 3);
  position: relative;
  display: flex;
  justify-content: center;
}

.big-pictures div:first-of-type img {
  width: 100%;
  height: 100%;
}

/* THIS IS THE BIG TEXT INSIDE THE IMAGE */
.big-pictures div:first-of-type div h2 {
  position: absolute;
  align-self: center;
  font-size: 45px;
  color: white;
}

/* THIS IS THE TEXT UNDERNEATH THE BIG TEXT */
.big-pictures div:first-of-type div h3 {
  position: absolute;
  bottom: 37%;
  align-self: center;
  font-size: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

/* THIS IS THE INPUT/BUTTON/ANCHOR UNDERNEATH THE MIDDLE TEXT */
.big-pictures div:first-of-type div div {
  height: 100%;
  position: absolute;
  bottom: 25%;
  align-self: center;
  width: 140px;
  height: 50px;
  border: 2px solid white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* THIS IS WHAT IS INSIDE THE ANCHOR (DIV-A-P) */
.big-pictures div:first-of-type div div:nth-child(4) {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.big-pictures div:first-of-type div div:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0.0);
}

/* --------------------- SMALLER SLIDING IMAGE SECTION ---------------------- */

/* A lot of these classes are in the SLIDING IMAGES SECTION from line 336  */
.smaller-sliding-images-section {
  position: relative;
  display:flex;
  justify-content: center;
  width:100%;
}

.smaller-sliding-images-section ul {

}

/* PICTURES */
.smaller-sliding-images-section ul li img {
  height: 300px;
}

/* COLOR TEXT IN ALL DIV */
.smaller-sliding-images-section ul li div,
.smaller-sliding-images-section p{
  color: white;
}

/* The overlay has to be bigger (compared to the previous SECTION) since the images are smaller */
.card .smaller-overlay-content {
  width: 100%;
}

/* THESE ARE THE ARROWS IN THE MIDDLE SECTION */
.arrow-front-small-section .fa-chevron-right,
.arrow-back-small-section .fa-chevron-left {
  padding: 25px 10px;
  background-color: #c1c1c1;
  color: white;
  font-size: smaller;
}

/* THESE ARE THE ARROWS IN THE MIDDLE SECTION (small images)*/
.arrow-back-small-section,
.arrow-front-small-section {
  display:flex;
  position: absolute;
  z-index: 50;
}

/* THESE ARE THE ARROWS IN THE MIDDLE SECTION (CENTRAL SLIDER)*/
.arrow-front-small-section {
  top: 115px;
  right: 375px;
}

/* The last two classes refer to the single arrows*/
.arrow-back-small-section {
  align-items: center;
  align-content: center;
  top: 115px;
  left: 375px;
}

/* ----------------------- CONFETTI SECTION --------------------------------- */

.confetti-background {
  width: 100%;
  height: 650px;
  background-image: url(../img/other-img/bkgd_confetti-compressor.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.confetti-background div {
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.confetti-background div div {
  width: calc((100% / 2) - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 200%;
  background-size: cover;
  background-position: center;
}

.confetti-background div > div:first-of-type {
  background-image: url(../img/other-img/promo_box_1_bg.jpg);
}

.confetti-background div > div:last-of-type {
  background-image: url(../img/other-img/promo_box_2_bg.jpg);
}

.confetti-background article {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.confetti-background article h3 {
  font-size: 45px;
  font-family: 'Dancing Script';
  margin-bottom: 30px;
}

.confetti-background article h4 {
  max-width: 260px;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 30px;
}

.confetti-background article > div {
  width: 140px;
  height: 50px;
  border: 2px solid white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.confetti-background article > div:hover {
  background-color: rgba(0, 0, 0, 0.0);
}

/* -------------------- BIGGEST SLIDER IMAGE SECTION -------------------------*/

.biggest-slider-image {
  width: 100%;
}

.biggest-sliding-image-section {
  width: 100%;
  height: 100%;
}

.biggest-sliding-image-section ul li img {
  height: 100%;
  width: 100%;
}

.arrow-before, .arrow-after {
display:flex;
}

.arrow-before {
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 50;
  top: 200px;
  left: 0px;
}

.arrow-after {
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 50;
  right: 0px;
  top: 200px;
}

.arrow-after .fa-chevron-right, .arrow-before .fa-chevron-left {
  padding: 25px 10px;
  background-color: #c1c1c1;
  color: white;
  font-size: smaller;
}

.biggest-sliding-image-section {
  padding-bottom: 100px;
}
/* ------------------------- WORK IN PROGRESS ------------------------------- */





.work-in-progress {
  width: 100%;
  height: 800px;
  background-image: url(../img/lavori-in-corso.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}





/* -------------------------------- FOOTER -----------------------------------*/

/* START BRAND SECTION */
.grey-brands {
  width: 100%;
  height: 400px;
  background-color: var(--some-other-grey);
}

.grey-brands div {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.grey-brands h2 {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--socialGrey);
}

.grey-brands figcaption {
  width: 100%;
  height: 100%;
  display: flex;
}

.grey-brands figcaption img {
  width: 50%;
  height: 50%;
  align-self: center;
}

.grey-brands figcaption div {
  width: 100%;
  height: 100%;
  color: black;
}

/* END BRAND SECTION */

/* START SUBSCRIBE SECTION */

.subscribe-section {
  width: 100%;
  height: 200px;
  background-color: var(--footer-gray);
}

.subscribe-section div {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-section figure {
  display: flex;
}

.subscribe-section figure i {
  font-size: 40px;
  color: var(--envelope-gray);
  padding: 20px 20px;
  background-color: var(--bg-envelope);
  border-radius: 100%;
}

.subscribe-section figure span {
  margin: 25px 0px 0px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.subscribe-section form input {
  height: 40px;
  border-radius: 30px;
  border: none;
}

.subscribe-section form input:first-of-type {
  width: 400px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.subscribe-section form input:last-of-type {
  width: 150px;
  background-color: var(--eleganBlue);
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* END SUBSCRIBE SECTION */

/* ------------------------------------------------------- */
/* START OF BIGGER FOOTER */

.bigger-footer {
  width: 100%;
  height: 500px;
  background-color: var(--bg-envelope);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.bigger-footer div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.bigger-footer div div {
  width: calc((100% / 4) - 40px);
  height: calc(100% - 80px);
  margin: 40px 0px;
}

/* START OF FIRST PART (THE ONE WITH THE IMAGE) */
.bigger-footer div div:first-of-type {
  display:flex;
  flex-direction: column;
  line-height: 200%;
}

.bigger-footer div:first-of-type img {
  width: 60%;
  height: 100px;
}

.social-footer ul {
  display: flex;
  position: relative;
}

.social-footer ul li {
  margin-right: 20px;
}

.social-footer p {
  padding: 2px 4px;
  font-size: 10px;
  background-color: #1d1f22;
  border-radius: 10px;
  position: absolute;
}

/* END OF FIRST PART (THE ONE WITH THE IMAGE) */
/* START OF SECOND PART (THE ONE WITH THE STARS) */

.bigger-footer div div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.bigger-footer div div:nth-child(2) h4 {
  font-size: 20px;
  font-weight: lighter;
}

.bigger-footer div div:nth-child(2) article {
  height: calc(100% / 3);
  display: flex;
  border-bottom: 1px solid rgba(104, 104, 104, 0.5);
}

.bigger-footer div div:nth-child(2) article aside {
  width: 70%;
  line-height: 1.6;
  font-size: 18px;
}

.bigger-footer div div:nth-child(2) article aside h5:first-of-type {
  margin-top: 20px;
}

.bigger-footer div div:nth-child(2) article div {
  display: flex;
  height: 100%;
  width: 30%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#ft-smallerImages img {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

/* END OF SECOND PART (THE ONE WITH THE STARS) */



/* ---------------------------------------- */
.bigger-footer div div:nth-child(3) {
  /* debug */
  background-color: navy;
}

.bigger-footer div div:nth-child(4) {
  /* debug */
  background-color: dodgerblue;
}
